html {
    font-size: 100px;
}

body {
    font-size: .16rem;
}

/* 底部切页 */
div.bottom-link {
    width: 100%;
    margin-top: 50px;
}

div.bottom-link>a {
    width: 50%;
    display: inline-block;
    padding: 10px;
}

div.bottom-link>a.left {
    text-align: left;
}

div.bottom-link>a.right {
    text-align: right;
}
