html {
    font-size: 100px;
}

body {
    font-size: .16rem;
}

/* 复制按钮 */
.copy-btn {
    background-color: #f8f8f8;
}

.copy-btn:hover {
    background-color: #0a0a0a;
    color: white;
}

/* 底部切页 */
div.bottom-link {
    width: 100%;
    margin-top: 50px;
}

div.bottom-link>a {
    width: 50%;
    display: inline-block;
    padding: 10px;
}

div.bottom-link>a.left {
    text-align: left;
}

div.bottom-link>a.right {
    text-align: right;
}
